/* root */

/* Remember to use the images in the cards as href links.*/

/* Also remember to include the customer profile just like in twitter profile. */

:root {
  --color-body: #807d7e;
  --color-primary: #47acdf;
  --color-headings: #3c4242;
  --color-notifications: rgba(102, 102, 102, 0.8);
}

body {
  margin: 10px;
}

html {
  font-size: 62.5%;
}

/* Buttons */

/* Cards */

.container {
  display: grid;
  grid-template-rows: repeat(3, 25fr);
  grid-template-columns: repeat(2, 25fr);
  /* border: 3px solid lightgrey; */
  align-items: stretch;
  justify-items: end;
  align-content: stretch;
  justify-content: stretch;
  height: 106.7rem;
  width: 144rem;
  margin-top: 3.1rem;
}

.navbar {
  display: flex;
  margin-top: 3.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: space-between;
}

.navbar-images {
  justify-self: flex-start;
  width: 94px;
  height: 45px;
  display: inline-block;
}

.navbar-search {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 0.2rem;
  justify-self: center;
  border: none;
  border-radius: 8px;
  width: 18.4rem;
  height: 4.6rem;
  position: relative;
  box-sizing: content-box;
  justify-content: center;
}

.navbar-text {
  font-size: 18px;
  padding-right: 1.6rem;
  color: var(--color-body);
  outline: none;
  box-sizing: content-box;
  border: 0;
  background-color: inherit;
  width: 5.6rem;
  height: 2.2rem;
  margin-left: 1.2rem;
}

.navbar-icon {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

.navbar-login {
  display: inline-flex;
  border: none;
  border-radius: 8px;
  width: 18.4rem;
  height: 5rem;
  justify-content: center;
  background-color: var(--color-primary);
}

.navbar-login-text {
  display: inline-flex;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  align-self: center;
}

.navbar-signup {
  display: inline-flex;
  border-radius: 8px;
  width: 18.4rem;
  height: 5rem;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #3c4242;
}

.navbar-signup-text {
  font-size: 1.8rem;
  color: var(--color-primary);
  text-align: center;
  margin: 0;
  align-self: center;
}

.movie-image {
  display: inline-flex;
  width: 69.5rem;
  height: 95.6rem;
  object-fit: contain;
  box-sizing: border-box;
  justify-content: space-around;
}

.signin-page-column {
  display: flex;
  flex-direction: column;
  width: 56.8rem;
  height: 61.4rem;
  justify-content: space-around;
  /* border: 3px solid lightgray; */
}

.signin-page-text {
  color: #333;
  width: 21.8rem;
  height: 3.3rem;
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: 0.068rem;
}

.google-signin {
  display: inline-flex;
  border-radius: 0.8rem;
  border: 1px solid lightgrey;
  width: 56.7rem;
  height: 5.8rem;
  justify-content: center;
  align-content: center;
  padding: 1.6rem 2rem;
  background-color: #fff;
}

.google-signin-text {
  color: var(--color-primary);
  text-align: center;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 1.2rem;
  background-color: #fff;
  margin: 0;
}

.twitter-signin {
  display: inline-flex;
  border-radius: 0.8rem;
  border: 1px solid lightgrey;
  width: 56.7rem;
  height: 5.8rem;
  justify-content: center;
  align-content: center;
  padding: 1.6rem 2rem;
  background-color: #fff;
}

.twitter-signin-text {
  color: var(--color-primary);
  text-align: center;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 1.2rem;
  background-color: #fff;
  margin: 0;
}

.divider {
  display: inline-flex;
  width: 56.8rem;
  height: 1.8rem;
  justify-content: space-between;
}

.divider-left {
  width: 24.5rem;
  height: 0.2rem;
  background-color: lightgray;
  align-self: center;
}

.divider-text {
  color: #666;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.divider-right {
  width: 24.5rem;
  height: 0.2rem;
  background-color: lightgray;
  align-self: center;
}

.user-or-email-text {
  color: var(--color-headings);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.036rem;
}

.username-password-field {
  display: inline-flex;
  flex-direction: column;
}

.username-button {
  display: inline-flex;
  border-radius: 0.8rem;
  border: 1px solid lightgrey;
  width: 56.7rem;
  height: 5.8rem;
  position: relative;
  justify-content: flex-start;
  align-content: center;
  background-color: #fff;
}

.username-button-text {
  border: none;
  font-size: 2.4rem;
  background-color: inherit;
  outline: none;
  align-self: center;
  letter-spacing: 0.08rem;
}

.password-text {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.password {
  color: var(--color-headings);
  width: 7.8rem;
  height: 2.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.036rem;
  align-self: flex-end;
}

.hide-container {
  display: inline-flex;
  background-color: inherit;
  align-items: center;
  justify-content: space-evenly;
}

.hide {
  color: var(--color-body);
  width: 7.8rem;
  height: 2.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.036rem;
}

.hide-image {
  width: 1.8188rem;
  height: 1.5996rem;
  padding-right: 2.4rem;
}

.password-button {
  display: inline-flex;
  border-radius: 0.8rem;
  border: 1px solid lightgrey;
  width: 56.7rem;
  height: 5.8rem;
  position: relative;
  justify-content: flex-start;
  align-content: center;
  background-color: #fff;
}

.password-button-text {
  border: none;
  font-size: 2.4rem;
  background-color: inherit;
  outline: none;
  align-self: center;
  letter-spacing: 0.08rem;
}
/* Icons */

/* Footer */
